# Ignore everything
*/
/*

# Root dotfiles
!.gitignore
!.bashrc
!.bash_profile
!.gitconfig
!start.bat

# Folder: bin/
!/bin/
!/bin/bash/
!/bin/python/
!/bin/start/

# Relevant Apps
Apps/*
!Apps/
!Apps/LIST
