# Ignore everything
*/
/*

# Root dotfiles
!.gitignore
!.bashrc
!.bash_profile
!.gitconfig
!start.bat

# Folder: bin/
!/bin/
!/bin/bash/
!/bin/python/
!/bin/start/

# List of Apps
Apps/*
!Apps/
!Apps/LIST

# List of PortableApps
Apps/PortableApps/*
!Apps/PortableApps/
!Apps/PortableApps/PortableAppsList

# RapidEE
# Apps/PortableApps/RapidEE/*
!Apps/PortableApps/RapidEE/
!Apps/PortableApps/RapidEE/App/
!Apps/PortableApps/RapidEE/App/AppInfo
!Apps/PortableApps/RapidEE/App/AppInfo/Launcher
#!Apps/PortableApps/RapidEE/rapidee.exe.lnk
